# Ignore images in assets
assets/**/*.png
assets/**/*.jpg
assets/**/*.jpeg
assets/**/*.gif
assets/**/*.webp
assets/**/*.svg
assets/**/*.ico


# OS files
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Environment files
.env
.env.*
